
# ParaDrone specific
/config.txt
/log/
/simulator/js

# linter output
/infer-out

# doxygen
/docs

# node
node_modules

# IntelliJ
.idea
*.iml
build
.gradle
local.properties

# PlatformIO
.pio

# Misc
.DS_Store
