[Unit]
Description=DubFlight
After=network.target

[Service]
ExecStart=/home/pi/DubFlight/bin/dubflight
WorkingDirectory=/home/pi/DubFlight
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
