* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #22222e url('../img/grid.png');
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
a {
  color: #337ab7;
  text-decoration: none;
}
iframe {
  margin-top: 20px;
}
.content {
  background: white;
  width: 500px;
  margin: 20px auto;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #111;
}
h1 {
  font-size: 32px;
  font-weight: normal;
}
h2 {
  margin-top: 20px;
  font-size: 24px;
}
h3 {
  margin-top: 20px;
  font-size: 16px;
}
.subtitle {
  display: block;
  font-size: 12px;
  line-height: 12px;
}
p {
  margin-bottom: 20px;
}
.file-link {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.file-link img {
  height: 36px;
  width: 36px;
  margin-right: 8px;
}
.rounded {
  border-radius: 4px;
}
#jscad {
  width: 420px;
  height: 180px;
  cursor: move;
}
.video-container {
  position: relative;
}
.video-text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #ddd;
  text-align: center;
  margin-top: -0.5em;
}
