* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #6b39a7;
  font-weight: normal;
}
h2, h3 {
  margin-bottom: 0;
  margin-top: 10px;
}
input {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 3px;
}
input:focus {
  outline: none;
  border: 1px solid #888;
}
input[type=checkbox] {
  cursor: pointer;
}

label {
  font-weight: bold;
  display: block;
  color: #333;
}

.btn,
.btn:active {
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #e6e6e6;
  color: #333;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: #ccc;
}

.sidebar {
  height: 100%;
  width: 300px;
  padding: 10px;
  margin: 0;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-header {
  background-color: #eee;
  color: #222;
  font-weight: bold;
  position: relative;
  padding: 4px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 4px;
}
.sidebar-header input[type=checkbox] {
  display: inline-block;
  position: absolute;
  right: 4px;
}

.map-container {
  position: relative;
  flex: 1;
  height: 100%;
  padding: 0;
  margin: 0;
}

.map-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  z-index: 10000;
  top: 8px;
  left: 8px;
}

#map {
  width: 100%;
  height: 100%;
}

.ap-status {
  color: #1ce;
  min-width: 180px;
  min-height: 56px;
}
#ap-alt {
  display: inline-block;
  width: 96px;
}
#ap-speed {
  display: inline-block;
}

.param {
  display: inline-block;
  width: 49%;
}
.param input {
  width: 50%;
}

#plan-error, #sim-error {
  float: right;
}
.plan-header {
  border-right: 4px solid #3c3;
}
.sim-header {
  border-right: 4px solid #c33;
}