* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-faded {
  color: #999;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #6b39a7;
  font-weight: normal;
}
h2, h3 {
  margin-bottom: 0;
  margin-top: 10px;
}
input {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 3px;
}
input:focus {
  outline: none;
  border: 1px solid #888;
}
input[type=checkbox] {
  cursor: pointer;
}

label {
  font-weight: bold;
  display: block;
  color: #333;
}

.btn,
.btn:active {
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #e6e6e6;
}
.btn:focus {
  outline-offset: -2px;
}
.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
}

.sidebar {
  height: 100%;
  width: 260px;
  padding: 10px;
  margin: 0;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-header {
  background-color: #eee;
  color: #222;
  font-weight: bold;
  position: relative;
  padding: 4px 6px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 4px;
}
.sidebar-header input[type=checkbox] {
  display: inline-block;
  position: absolute;
  right: 4px;
}
.sidebar-parameter {
  display: flex;
}
.sidebar-parameter > * {
  flex: 1;
}
.sidebar-parameter > *:last-child {
  text-align: right;
}

/* Map */
.map-container {
  position: relative;
  flex: 1;
  height: 100%;
  padding: 0;
  margin: 0;
}

.map-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  z-index: 10000;
  top: 8px;
  left: 8px;
}

/* Playback */
.playback-controls {
  top: 80px;
}
.map-overlay-button {
  background-color: transparent;
  height: 48px;
  width: 48px;
  border: none;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  outline: 0;
  cursor: pointer;
}
.map-overlay-button:hover,
.map-overlay-button:active:hover {
  opacity: 0.5;
}
.icon-play {
  background-image: url('../img/play.svg');
}
.icon-step {
  background-image: url('../img/plause.svg');
}
.icon-stop {
  background-image: url('../img/stop.svg');
}
.icon-pause {
  background-image: url('../img/pause.svg');
}

#map {
  width: 100%;
  height: 100%;
}

/* Autopilot overlay */
.ap-status {
  color: #1ce;
  min-width: 180px;
  min-height: 56px;
}
#ap-alt {
  display: inline-block;
  width: 96px;
}
#ap-speed {
  display: inline-block;
}
#ap-flightmode {
  display: inline-block;
}
#ap-landingzone {
  display: inline-block;
  float: right;
}

.plan-header {
  border-right: 5px solid #33c;
}
.sim-header {
  border-right: 5px solid #a3c;
}
.device-header {
  border-right: 5px solid #d39;
}

/* Wind */
svg#windgram {
  cursor: pointer;
  stroke-linecap: round;
}
.wind-labels {
  display: inline-block;
  position: relative;
  bottom: 32px;
}
